.project-page-container {
  display: flex;
  flex-direction: column;
  padding: 22vw 0px;
  gap: 15vw;

  @include small {
    padding: 180px 0px 240px;
    gap: 160px;
  }

  .project-page-title {
    text-align: center;
    color: $noir-boise-700;
    font-family: $saansTrial;
    font-weight: 400;
    font-style: normal;
    font-size: 3.5vw;
    line-height: 3.5vw;

    @include small {
      font-size: 40px;
      line-height: 56px;
    }
  }

  .project-page-first-block-container {
    .project-page-first-block-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: 24px;
      gap: 16px;

      @include small {
        flex-direction: column;
        gap: 80px;
      }

      .project-page-first-block-row-first-item {
        width: 47%;

        @include small {
          width: 100%;
        }

        .project-page-first-block-description {
          font-family: $centuryOldStyleStd;
          color: $noir-boise-700;
          font-weight: 400;
          font-style: normal;
          margin-bottom: 1.5vw;
          font-size: 1.5vw;
          line-height: 1.875vw;

          @include small {
            margin-bottom: 24px;
            font-size: 18px;
            line-height: 22px;
          }
        }

        .project-page-first-block-project-types {
          display: flex;
          gap: 0.5vw;

          @include small {
            gap: 8px;
          }

          .project-page-first-block-project-type {
            font-family: $saansTrial;
            font-weight: 400;
            line-height: 0.75vw;
            font-size: 0.875vw;
            padding: 0.5vw 1vw;
            background-color: $noir-boise-100;
            color: $noir-boise-600;
            border-radius: 0.25vw;

            @include small {
              font-size: 10px;
              line-height: 12px;
              padding: 4px 12px;
              border-radius: 5px;
            }
          }
        }
      }

      .project-page-first-block-credits {
        width: 40%;

        @include small {
          width: 100%;
        }

        .project-page-first-block-credit {
          font-family: $saansTrial;
          color: $noir-boise-600;
          font-size: 1vw;
          line-height: 1vw;
          padding: 0.75vw 0px;
          font-style: normal;
          font-weight: 400;
          border-top: 1px solid $noir-boise-200;
          display: flex;

          &:last-child {
            border-bottom: 1px solid $noir-boise-200;
          }

          @include small {
            font-size: 3.5vw;
            line-height: 1vw;
            padding: 3.5vw 0px;
          }
        }
      }
    }

    .sanity-image-wrapper-container {
      .sanity-image {
        border-radius: $borderRadiusImageDesktop;

        @include small {
          border-radius: $borderRadiusImageMobile;
        }
      }
    }
  }

  .page-selector-container {
    margin-top: 10vw;
  }
}
