.block-d-container {
  .block-d-portable-text-container {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    color: $noir-boise-700;
    font-family: $centuryOldStyleStd;
    font-style: normal;
    font-weight: 400;
    width: 50%;
    font-size: 1.5vw;
    line-height: 1.875vw;

    @include small {
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      gap: 24px;
    }
  }
}
