.block-b-container {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;

  @include small {
    gap: 24px;
  }

  .block-b-portable-text-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: $noir-boise-700;
    font-family: $centuryOldStyleStd;
    font-style: normal;
    font-weight: 400;
    width: 50%;
    gap: 1.5vw;
    font-size: 1.5vw;
    line-height: 1.875vw;

    @include small {
      width: 100%;
      font-size: 18px;
      line-height: 22px;
      gap: 24px;
    }
  }

  .block-b-images {
    width: 100%;

    .sanity-image {
      height: 45vw;
      border-radius: $borderRadiusImageDesktop;

      @include small {
        border-radius: $borderRadiusImageMobile;
        height: 720px;
      }
    }
  }
}
