@import "../../scss/variables";

.footer-container {
  background-color: $noir-boise-300;
  padding: 2.375vw 2.5vw 0.8125vw 2.5vw;

  @include small {
    padding: 24px 16px 13px 16px;
  }

  .footer-top {
    display: flex;
    flex-direction: row;

    @include small {
      flex-direction: column;
    }

    .footer-info {
      flex: 3;

      @include small {
        padding-right: 16px;
      }

      .footer-info-email,
      .footer-info-description {
        color: $noir-boise-50;
        font-family: $saansTrial;
        font-size: 1vw;
        line-height: 1vw;
        font-style: normal;
        font-weight: 400;

        @include small {
          font-size: 16px;
          line-height: 20px;
        }
      }

      .footer-info-email {
        line-height: 1vw;
        margin-right: 3.75vw;
        display: inline-block;

        @include small {
          line-height: 16px;
          margin-right: 60px;
          margin-top: 24px;
        }
      }

      .footer-info-apdiq-logo {
        margin-top: 1.5vw;
        width: 11.25vw;
        height: auto;
        mix-blend-mode: screen;

        @include small {
          margin-top: 24px;
          width: 180px;
        }
      }
    }

    .footer-links {
      flex: 4;
      display: flex;
      flex-direction: row;
      padding-left: 12vw;

      @include small {
        padding-left: 0px;
        flex-wrap: wrap;
      }

      .footer-links-column {
        flex: 1;
        display: flex;
        flex-direction: column;

        @include small {
          margin-top: 80px;
          flex: 0 1 50%;
        }

        .footer-link {
          color: $noir-boise-50;
          font-family: $saansTrial;
          font-style: normal;
          font-weight: 400;
          font-size: 1vw;
          line-height: 1vw;
          margin-bottom: 1vw;

          @include small {
            font-size: 16px;
            line-height: 16px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  .footer-bottom {
    margin-top: 20vw;

    @include small {
      margin-top: 320px;
    }

    .footer-mamuth-logo {
      width: 100%;
      height: auto;
    }

    .footer-copyright {
      display: flex;
      flex-direction: row;
      margin: 0.5vw;
      margin-left: 0px;

      @include small {
        margin: 8px;
        margin-left: 0px;
      }

      .footer-copyright-text {
        font-family: $saansTrial;
        font-weight: 400;
        font-size: 1.1vw;
        line-height: 1.1vw;
        margin-right: 6vw;
        color: $noir-boise-50;

        @include small {
          font-size: 16px;
          line-height: 16px;
        }
      }
    }
  }
}
