@import "../../scss/variables.scss";

.footer-logo-container {
  display: flex;
  flex-direction: row;
  width: 100%;

  .footer-logo-letter-container {
    flex: 1;
    margin: 8px;

    .footer-logo-letter {
      width: 100%;
      height: auto;
    }
  }
}
