.services-page-container {
  // TODO - mieux styler le calque
  .services-page-header {
    background-color: #c1d8d5;
    background-image: url("../../../common/assets/images/servicesPage/calque.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

    // TODO - Déterminer quelle est la hauteur idéale en mobile et desktop
    @include small {
      height: 50vh;
    }

    @include large {
      height: 60vh;
    }

    .services-page-header-title {
      color: $gris-neutre-700;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;

      @include small {
        font-size: 40px;
      }

      @include large {
        font-size: 56px;
      }
    }
  }

  .services-page-content {
    display: flex;
    flex-direction: column;

    @include small {
      padding: 56px 16px 240px;
      gap: 160px;
    }

    @include large {
      padding: 56px 40px 400px;
      gap: 240px;
    }

    .services-page-content-description-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      @include large {
        max-width: 75%;
      }

      .services-page-content-description-block {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-style: normal;
        font-weight: 400;

        @include small {
          font-size: 24px;
          line-height: 32px;
        }

        @include large {
          font-size: 32px;
          line-height: 40px;
        }
      }
    }

    .services-page-projects-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .services-page-projects-title {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-style: normal;
        font-weight: 400;

        @include small {
          font-size: 24px;
          line-height: 24px;
        }

        @include large {
          font-size: 32px;
          line-height: 30px;
        }
      }

      .services-page-projects-link {
        @extend .common-btn-jaune-pyrite;
        padding: 14px 16px;
      }
    }
  }
}
