.services-listing-container {
  display: flex;
  flex-direction: column;

  @include small {
    gap: 56px;
  }

  @include large {
    gap: 80px;
  }

  .services-listing-item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid $noir-boise-200;

    @include small {
      gap: 56px;
      padding-top: 16px;
    }

    @include large {
      gap: 80px;
      padding-top: 40px;
    }

    &:last-child {
      border-bottom: 1px solid $noir-boise-200;

      @include small {
        padding-bottom: 56px;
      }

      @include large {
        padding-bottom: 80px;
      }
    }

    .services-listing-item-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 32px;
      }

      @include large {
        font-size: 40px;
        line-height: 40px;
      }
    }

    .services-listing-item-info-container {
      display: flex;
      justify-content: space-between;

      @include small {
        gap: 56px;
        flex-direction: column;
      }

      .services-listing-item-description-container,
      .services-listing-item-image-container {
        @include large {
          flex: 0 1 40%;
        }
      }

      .services-listing-item-description-container {
        display: flex;
        flex-direction: column;

        @include small {
          gap: 56px;
        }

        @include large {
          gap: 80px;
        }

        .services-listing-item-description {
          color: $noir-boise-400;
          font-family: $centuryOldStyleStd;
          font-style: normal;
          font-weight: 400;

          @include small {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 24px;
          }

          @include large {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 40px;
          }
        }

        .services-listing-item-link {
          @extend .common-btn-jaune-pyrite;

          padding: 14px 16px;
        }

        .services-listing-item-project-type {
          color: $noir-boise-600;
          font-family: $saansTrial;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px;
          border-top: 1px solid $noir-boise-200;
          padding: 12px 0px;

          &:last-child {
            border-bottom: 1px solid $noir-boise-200;
          }
        }
      }

      .services-listing-item-image-container {
        position: relative;

        .sanity-image-wrapper-container {
          .sanity-image {
            border-radius: $borderRadiusImage;
          }
        }
      }
    }
  }
}
