.services-page-container {
  .services-page-header {
    background-color: #c1d8d5;
    display: flex;
    height: 50vw;
    justify-content: center;
    align-items: center;
    margin-left: -$sidePaddingDesktop;
    margin-right: -$sidePaddingDesktop;

    background-image: url("../../../common/assets/images/servicesPage/shapes.svg");
    background-size: cover;

    @include small {
      height: 50vh;
      margin: 0px -$sidePaddingMobile;
    }

    .services-page-header-title {
      color: $gris-neutre-700;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5vw;
      font-size: 3.5vw;

      @include small {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }

  .services-page-content {
    display: flex;
    flex-direction: column;
    padding-top: 2.5vw;

    @include small {
      padding-top: 60px;
      padding-bottom: 240px;
      gap: 160px;
    }

    .services-page-content-description-container {
      display: flex;
      flex-direction: column;
      gap: 2.5vw;
      max-width: 75%;

      @include small {
        max-width: 100%;
      }

      .services-page-content-description-block {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-style: normal;
        font-weight: 400;
        font-size: 2.5vw;
        line-height: 3.25vw;

        @include small {
          font-size: 24px;
          line-height: 32px;
        }
      }
    }

    .services-page-projects-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1.5vw;
      margin-bottom: 22vw;
      margin-top: 10vw;

      @include small {
        gap: 24px;
      }

      .services-page-projects-title {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-style: normal;
        font-weight: 400;
        font-size: 2vw;
        line-height: 1.975vw;

        @include small {
          font-size: 24px;
          line-height: 24px;
        }
      }

      .services-page-projects-link {
        @extend .common-btn-jaune-pyrite;
        padding: 0.875vw 1vw;

        @include small {
          padding: 14px 16px;
        }
      }
    }
  }
}
