.employee-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0px;
  border-top: 1px solid $noir-boise-200;

  @include small {
    padding: 2.5vw 0px;
    flex-direction: column;
  }

  &:last-child {
    border-bottom: 1px solid $noir-boise-200;
  }

  .employee-picture-container {
    flex: 0 1 20%;

    .sanity-image-wrapper-container {
      .sanity-image {
        border-radius: $borderRadiusImageDesktop;

        @include small {
          border-radius: $borderRadiusImageMobile;
        }
      }
    }
  }

  .employee-description-container {
    flex: 0 1 70%;

    .employee-description-header {
      display: flex;
      flex-direction: row;

      @include small {
        flex-direction: column;
      }

      .employee-description-header-left {
        flex: 1;

        @include small {
          margin-top: 16px;
        }

        .employee-name,
        .employee-role {
          font-family: $saansTrial;
          font-size: 1.5vw;
          line-height: 1.875vw;
          font-style: normal;
          font-weight: 400;

          @include small {
            font-size: 18px;
            line-height: 22px;
          }
        }

        .employee-name {
          color: $noir-boise-700;
        }

        .employee-role {
          color: $noir-boise-400;
        }
      }

      .employee-description-header-right {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;

        .employee-email {
          color: $noir-boise-400;
          font-family: $saansTrial;
          font-size: 1.5vw;
          line-height: 1.875vw;
          font-style: normal;
          font-weight: 400;
          text-transform: lowercase;

          @include small {
            margin-top: 8px;
            font-size: 18px;
            line-height: 22px;
          }
        }
      }
    }

    .employee-description-body {
      margin-top: 2.5vw;

      .employee-description {
        color: $noir-boise-700;
        font-family: $centuryOldStyleStd;
        font-size: 1.5vw;
        line-height: 1.875vw;
        font-style: normal;
        font-weight: 400;

        @include small {
          margin-top: 8px;
          font-size: 18px;
          line-height: 22px;
        }
      }
    }
  }
}
