.employee-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 200px;
  border-top: 1px solid $noir-boise-200;

  .employee-picture-container {
    flex: 1;
    display: flex;

    .employee-picture {
      flex: 1;
      background-color: #ececec;
      border-radius: 10px;
    }
  }

  .employee-description-container {
    flex: 6;
  }
}
