.faq-page-question-container {
  .faq-page-question-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1vw 0px;
    border-top: 1px solid $noir-boise-200;

    @include small {
      padding: 16px 0px;
    }

    .faq-page-question-plus-img {
      width: 1.875vw;
      height: 1.875vw;
    }

    .faq-page-question-question {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 30px;
      }
    }
  }

  .faq-page-question-answer-rich-text {
    p {
      transition-property: height;
      transition-duration: 400ms;
      overflow: visible;
      color: $noir-boise-200;
      font-family: $centuryOldStyleStd;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;
      margin-bottom: 1vw;

      @include small {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 16px;
      }
    }
  }
}
