.projects-page-project-archived-images {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  overflow: hidden;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .sanity-image-wrapper-container {
    min-width: 25vw;
    margin-bottom: 1rem;
    pointer-events: none;
    user-select: none;
    width: 25vw;

    @include small {
      width: 50vw;
      margin-bottom: 5vw;
      margin-top: 3vw;
    }

    .sanity-image {
      border-radius: $borderRadiusImageDesktop;

      @include small {
        border-radius: $borderRadiusImageMobile;
      }
    }
  }
}
