.projects-page-project-archived-images {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  overflow: hidden;

  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .sanity-image-wrapper-container {
    min-width: 25vw;
    margin-bottom: 1rem;
    pointer-events: none;
    user-select: none;

    @include small {
      min-width: 60vw;
    }

    .sanity-image {
      border-radius: $borderRadiusImageDesktop;

      @include small {
        border-radius: $borderRadiusImageMobile;
      }
    }
  }
}
