.projects-page-container {
  .projects-page-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vw;

    @include small {
      height: 170vw;
      margin: 0 (-$sidePaddingMobile);
    }

    .projects-page-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 3.5vw;
      font-style: normal;
      font-weight: 400;
      line-height: 3.5vw;
      margin-top: 10vw;

      @include small {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }

  .projects-page-content {
    .projects-page-secondary-projects,
    .projects-page-primary-projects {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .projects-page-primary-projects {
      .project-container {
        width: 50%;

        @include small {
          width: 100%;
        }
      }
    }

    .projects-page-secondary-projects {
      @include small {
        .project-description-description {
          display: none;
        }
      }

      .project-container {
        width: 25%;

        @include small {
          width: 50%;

          padding: 0px 4px;
        }
      }
    }

    .projects-page-archives {
      margin: 15vw 0px;

      .projects-page-archives-title {
        text-align: center;
        color: $noir-mamuth;
        font-family: $saansTrial;
        font-size: 3.5vw;
        line-height: 3.5vw;
        font-style: normal;
        font-weight: 400;

        margin-bottom: 5vw;

        @include small {
          font-size: 40px;
          line-height: 56px;
        }
      }
    }
  }
}
