.contact-page-container {
  .contact-page-header {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 50vw;

    @include small {
      height: 50vh;
      margin: 0px -$sidePaddingMobile;
    }

    .contact-page-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;
      font-size: 3.5vw;
      line-height: 3.5vw;

      @include small {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }

  .contact-page-content {
    display: flex;
    justify-content: space-between;

    @include small {
      flex-direction: column;
    }

    .contact-page-information {
      width: 55vw;

      @include small {
        margin-bottom: 80px;
        width: 100%;
      }

      .contact-page-information-email,
      .contact-page-information-telephone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid $noir-boise-200;
        width: 80%;

        @include small {
          width: 100%;
        }
      }

      .contact-page-information-telephone {
        border-bottom: 1px solid $noir-boise-200;
      }

      .contact-page-telephone-label,
      .contact-page-telephone-value,
      .contact-page-email-label,
      .contact-page-email-value {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-style: normal;
        font-weight: 400;
        font-size: 1.5vw;
        line-height: 1.975vw;

        margin: 1vw 0px;
        flex: 1;

        @include small {
          margin: 16px 0px;
          font-size: 18px;
          line-height: 22px;
        }
      }

      .contact-page-faq-rich-text {
        width: 60%;

        @include small {
          width: 100%;
        }

        p,
        a {
          font-family: $saansTrial;
          font-style: normal;
          font-weight: 400;
          font-size: 1.5vw;
          line-height: 1.975vw;

          @include small {
            width: 100%;
            font-size: 18px;
            line-height: 22px;
          }
        }

        p {
          color: $noir-boise-700;
          margin-top: 5vw;

          @include small {
            margin-top: 80px;
          }
        }

        a {
          color: $jaune-pyrite-600;
          text-decoration-line: underline;
        }
      }
    }

    .image {
      flex: 0 1 30%;
    }

    .sanity-image-wrapper-container {
      .sanity-image {
        border-radius: $borderRadiusImageDesktop;

        @include small {
          border-radius: $borderRadiusImageMobile;
        }
      }
    }
  }
}
