.home-page-value-container {
  width: 18vw;
  height: 18vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10vw;
  margin-left: -1.25vw;

  @include small {
    border-radius: 120px;
    margin-bottom: -20px;
    width: 240px;
    height: 240px;
  }

  border: 1px solid $noir-boise-50;

  .home-page-value-text {
    color: $noir-boise-50;
    font-family: $saansTrial;
    font-size: 2vw;
    line-height: 2vw;
    font-style: normal;
    font-weight: 400;

    @include small {
      font-size: 24px;
    }
  }
}
