.home-page-values-container {
  margin-top: 20vw;
  height: 52vw;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;
  background-color: #448854;
  overflow: hidden;

  background-image: url("../../../common/assets/images/homePage/values/desktopShapes.svg");
  background-size: cover;

  @include small {
    background-image: url("../../../common/assets/images/homePage/values/mobileShapes.png");
    margin-top: 160px;
    height: 1000px;
    margin-left: -$sidePaddingMobile;
    margin-right: -$sidePaddingMobile;
  }

  .home-page-values-header {
    margin-top: 2.5vw;
    margin-left: $sidePaddingDesktop;
    margin-right: $sidePaddingDesktop;
    border-top: 1px solid $noir-boise-50;

    @include small {
      margin-top: 16px;
      margin-left: $sidePaddingMobile;
      margin-right: $sidePaddingMobile;
    }

    .home-page-values-title {
      color: $noir-boise-50;
      font-family: $saansTrial;
      font-size: 1vw;
      line-height: 1vw;
      margin-top: 0.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 16px;
        line-height: 16px;
        margin-top: 8px;
      }
    }
  }

  .home-page-values-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 12.5vw;
    padding-left: 1.25vw;

    @include small {
      margin-top: 80px;
      align-items: center;
      flex-direction: column;
    }
  }

  .home-page-values-link {
    @extend .common-btn-noir-boise-light;

    padding: 0.875vw 1vw;
    margin: 5vw auto 10vw auto;

    @include small {
      padding: 14px 16px;
      margin: 80px auto;
    }
  }
}
