.home-page-values-container {
  margin-top: 320px;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;
  background-color: $vert-pistache-700;
  overflow: hidden;

  @include small {
    margin-top: 160px;
    margin-left: -$sidePaddingMobile;
    margin-right: -$sidePaddingMobile;
  }

  .home-page-values-header {
    margin-top: 40px;
    margin-left: $sidePaddingDesktop;
    margin-right: $sidePaddingDesktop;
    border-top: 1px solid $noir-boise-50;

    @include small {
      margin-top: 16px;
      margin-left: $sidePaddingMobile;
      margin-right: $sidePaddingMobile;
    }

    .home-page-values-title {
      color: $noir-boise-50;
      font-family: $saansTrial;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      margin-top: 8px;
    }
  }

  .home-page-values-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 215px;
    padding-left: 20px;

    @include small {
      flex-direction: column;
      margin-top: 80px;
      padding-left: 0px;
      align-items: center;
    }
  }

  .home-page-values-link {
    @extend .common-btn-noir-boise-light;

    padding: 14px 16px;
    margin: 80px auto 160px auto;

    @include small {
      margin: 80px auto;
    }
  }
}
