.cookies-consent-container {
  .cookies-btn {
    @extend .common-btn-jaune-pyrite;
    padding: 0.875vw 1.75vw;

    @include small {
      padding: 2.75vw 2.75vw;
    }
  }

  .cookies-accept-btn,
  .cookies-save-btn {
    background-color: $jaune-pyrite-600;
    color: white;
  }

  .cookies-parameter-btn {
    &:hover {
      background-color: white;
      color: $jaune-pyrite-600;
    }
  }
}
