.page-selector-container {
  display: flex;
  justify-content: space-between;

  .page-selector-item {
    display: flex;
    flex-direction: column;
    width: 50%;

    @include small {
      width: 45%;
    }

    &:last-child {
      text-align: right;

      .page-selector-action-title,
      .page-selector-title,
      .page-selector-description {
        align-self: flex-end;
      }

      .page-selector-content {
        flex-direction: row-reverse;
      }

      @include small {
        .page-selector-content {
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }

    .page-selector-action-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 2.5vw;
      line-height: 2.5vw;
      margin-bottom: 2.5vw;
      width: min-content;
      font-size: normal;
      font-weight: 400;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: $noir-boise-400;
      }

      @include small {
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 16px;
      }
    }

    .page-selector-content {
      display: flex;
      gap: 1vw;

      @include small {
        flex-direction: column;
        gap: 8px;
      }

      .sanity-image-wrapper-container {
        width: 6vw;
        height: 6vw;

        @include small {
          width: 56px;
          height: 56px;
        }

        .sanity-image {
          border-radius: $borderRadiusImageDesktop;

          @include small {
            border-radius: $borderRadiusImageMobile;
          }
        }
      }

      .page-selector-text-container {
        position: relative;
        display: flex;
        width: 45%;
        flex-direction: column;
        justify-content: center;

        @include small {
          width: 100%;
        }

        .page-selector-title,
        .page-selector-description {
          width: 100%;
          font-family: $saansTrial;
          font-style: normal;
          font-weight: 400;
          font-size: 1.25vw;
          line-height: 1.25vw;

          @include small {
            font-size: 16px;
            line-height: 20px;
          }
        }

        .page-selector-title {
          color: $noir-boise-700;
          margin-bottom: 0.25vw;
        }

        .page-selector-description {
          color: $noir-boise-400;
          max-width: 80%;

          @include small {
            display: none;
          }
        }
      }
    }
  }
}
