.service-page-contact-us-default,
.service-page-contact-us-architecture-residentielle {
  background-color: $vert-pistache-500;
  background-image: url("../../../../common/assets/images/servicesPage/service/residentialArchitectCtaShapes.svg");

  @include small {
    background-image: url("../../../../common/assets/images/servicesPage/service/residentialArchitectCtaShapesMobile.svg");
  }
}


.service-page-contact-us-design-interieur-commercial {
  background-color: $bleu-helvetia-400;
  background-image: url("../../../../common/assets/images/servicesPage/service/eDesignCtaShapes.svg");

  @include small {
    background-image: url("../../../../common/assets/images/servicesPage/service/eDesignCtaShapesMobile.svg");
  }
}

.service-page-contact-us-design-interieur {
  background-color: $lavande-100;
  background-image: url("../../../../common/assets/images/servicesPage/service/interiorDesignCtaShapes.svg");

  @include small {
    background-image: url("../../../../common/assets/images/servicesPage/service/interiorDesignCtaShapesMobile.svg");
  }
}

.service-page-contact-us-container {
  background-size: cover;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  height: 40vw;
  margin: 15vw 0px;
  border-radius: 1.25vw;

  @include small {
    width: 100%;
    height: 560px;
    padding-left: 21px;
    padding-right: 21px;
    border-radius: 10px;
  }

  .service-page-contact-us-message {
    color: $noir-boise-50;
    font-family: $saansTrial;
    font-size: 2vw;
    line-height: 2.5vw;
    font-style: normal;
    font-weight: 400;

    @include small {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .service-page-contact-us-link {
    @extend .common-btn-noir-boise-light;

    margin-top: 1vw;
    padding: 0.975vw 1.125vw;

    @include small {
      margin-top: 16px;
      padding: 14px 18px;
    }
  }
}
