.service-page-step-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 2.5vw;

  @include small {
    margin-bottom: 40px;
  }

  &:last-child {
    margin-bottom: 0px;
  }

  .service-page-step-header {
    flex: 1;

    .service-page-step-index {
      flex: 1;
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 22px;
      }
    }
  }

  .service-page-step-body {
    flex: 6;

    @include small {
      flex: 5;
    }

    .service-page-step-name {
      flex: 4;
      color: $noir-boise-700;
      font-family: $centuryOldStyleStd;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 22px;
      }
    }
    .service-page-step-description {
      color: $noir-boise-700;
      font-family: $centuryOldStyleStd;
      font-size: 1.5vw;
      line-height: 1.875vw;
      letter-spacing: 0.24px;
      font-style: normal;
      font-weight: 400;

      margin-top: 1.5vw;
      padding-bottom: 1.5vw;
      border-bottom: 1px solid $noir-boise-200;

      @include small {
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 0.24px;

        margin-top: 24px;
        padding-bottom: 24px;
      }
    }
  }
}
