:has(.service-page-default-container, .service-page-architecture-residentielle-container) {
  body {
    background-color: #eef6f0;
  }
  .footer-container {
    background-color: $vert-pistache-500;
  }
  .service-page-projects-cta-title {
    color: $vert-pistache-700;
  }
  .service-page-projects-cta-link {
    color: $vert-pistache-700;
    border-color: $vert-pistache-700;

    &:hover {
      color: white;
      background-color: $vert-pistache-700;
    }
  }
}

:has(.service-page-design-interieur-residentiel-container) {
  body {
    background: rgba(229, 229, 255, 0.5);
  }
  .footer-container {
    background-color: $lavande-500;
  }
  .service-page-projects-cta-title {
    color: $lavande-200;
  }
  .service-page-projects-cta-link {
    color: $lavande-200;
    border-color: $lavande-200;

    &:hover {
      color: white;
      background-color: $lavande-200;
    }
  }
}

:has(.service-page-design-interieur-commercial-container) {
  body {
    background-color: #e5f1ff;
  }
  .footer-container {
    background-color: $bleu-helvetia-500;
  }
}

:has(.service-page-design-interieur-commercial-container) {
  body {
    background-color: #e5f1ff;
  }
  .footer-container {
    background-color: $bleu-helvetia-500;
  }
  .service-page-projects-cta-title {
    color: $bleu-helvetia-500;
  }
  .service-page-projects-cta-link {
    color: $bleu-helvetia-500;
    border-color: $bleu-helvetia-500;

    &:hover {
      color: white;
      background-color: $bleu-helvetia-500;
    }
  }
}

.service-page-container {
  .service-page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 40vw;

    @include small {
      height: 50vh;
    }

    .service-page-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 3.5vw;
      line-height: 3.5vw;
      font-style: normal;
      font-weight: 400;

      margin-top: 10vw;

      @include small {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }

  .service-page-description {
    color: $noir-boise-700;
    font-family: $saansTrial;
    font-size: 2vw;
    line-height: 2.5vw;
    font-style: normal;
    font-weight: 400;
    margin-left: 25%;

    @include small {
      margin-left: 0px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .service-page-projects-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15vw;

    @include small {
      margin-top: 120px;
    }

    .service-page-projects-cta-title {
      font-family: $saansTrial;
      font-size: 2vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .service-page-projects-cta-link {
      cursor: pointer;
      border-width: 0.0625vw;
      border-style: solid;
      border-radius: $borderRadiusButtonDesktop;
      font-size: 1.125vw;
      line-height: 0.75vw;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;
      display: block;
      text-align: center;
      width: fit-content;
      transition:
        color 0.2s ease-in-out,
        background-color 0.2s ease-in-out;
      padding: 0.875vw 1.75vw;
      margin-top: 1.5vw;

      @include small {
        font-size: 18px;
        line-height: 12px;
        border-radius: $borderRadiusButtonMobile;
        border-width: 1px;
        padding: 14px 28px;
        margin-top: 24px;
      }
    }
  }

  .service-page-steps-section {
    display: flex;
    flex-direction: row;
    margin-top: 15vw;
    padding-top: 2.5vw;
    border-top: 1px solid $noir-boise-200;

    @include small {
      padding-top: 24px;
      margin-top: 160px;
      flex-direction: column;
    }

    .service-page-steps-section-header {
      flex: 2;

      @include small {
        margin-bottom: 56px;
      }

      .service-page-steps-section-title {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-size: 1.5vw;
        line-height: 1.975vw;
        font-style: normal;
        font-weight: 400;

        @include small {
          font-size: 24px;
          line-height: 22px;
        }
      }
    }

    .service-page-steps-section-body {
      flex: 3;
    }
  }
}
