:has(.service-page-design-interieur-container) {
  body {
    background: rgba(229, 229, 255, 0.5);
  }
  .footer-container {
    background-color: $lavande-500;
  }
}

:has(.service-page-architecture-residentielle-container) {
  body {
    background-color: #eef6f0;
  }

  .footer-container {
    background-color: $vert-pistache-500;
  }
}

:has(.service-page-e-design-container) {
  body {
    background-color: #e5f1ff;
  }

  .footer-container {
    background-color: $bleu-helvetia-500;
  }
}

.service-page-container {
  margin: 0px 40px 0px 40px;

  @include small {
    margin: 0px 16px 0px 16px;
  }

  .service-page-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @include small {
      height: 50vh;
    }

    @include large {
      height: 60vh;
    }
    .service-page-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;

      @include small {
        font-size: 40px;
      }
    }
  }

  .service-page-description {
    color: $noir-boise-700;
    font-family: $saansTrial;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 52px;
    margin-left: 25%;

    @include small {
      margin-left: 0px;
      font-size: 24px;
      line-height: 32px;
    }
  }

  .service-page-steps-section {
    display: flex;
    flex-direction: row;
    margin-top: 240px;
    padding-top: 40px;
    border-top: 1px solid $noir-boise-200;

    @include small {
      padding-top: 24px;
      margin-top: 160px;
      flex-direction: column;
    }

    .service-page-steps-section-header {
      flex: 2;

      @include small {
        margin-bottom: 56px;
      }

      .service-page-steps-section-title {
        color: $noir-boise-700;
        font-family: $saansTrial;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        @include small {
          font-size: 18px;
          line-height: 22px;
        }
      }
    }

    .service-page-steps-section-body {
      flex: 3;
    }
  }
}
