.publications-container {
  display: flex;
  flex-direction: row;
  margin: 10vw 0px;

  @include small {
    flex-direction: column;
    margin: 160px 0px;
  }

  .publications-header {
    flex: 1;

    @include small {
      text-align: center;
      margin-bottom: 40px;
    }

    .publications-title {
      color: $noir-boise-600;
      font-family: $saansTrial;
      font-size: 3.5vw;
      line-height: 3.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 40px;
        line-height: 22px;
      }
    }
  }

  .publications-body {
    flex: 1;
  }
}
