.home-page-carousel-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;

  @include small {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -$sidePaddingMobile;
    margin-right: -$sidePaddingMobile;
  }

  .home-page-carousel-shapes {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    animation: zoom-in-zoom-out 100s ease infinite;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(2, 2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
}
