.home-page-carousel-container {
  .home-page-caroussel-shapes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2; /* Ensure it is above the image but below other content */
    pointer-events: none; /* Allow interactions with underlying elements */
    background-image: url("../../../common/assets/images/homePage/carousel/desktopShapes.svg");
    background-repeat: no-repeat;
    background-size: cover;
    mix-blend-mode: overlay;

    @include small {
      background-image: url("../../../common/assets/images/homePage/carousel/mobileShapes.svg");
    }
  }

  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;

  @include small {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -$sidePaddingMobile;
    margin-right: -$sidePaddingMobile;
  }

  .carousel-index-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    margin-bottom: 32px;
    margin-right: 32px;
    flex: 1;

    @include small {
      flex: none;
      margin-bottom: 16px;
      margin-right: 16px;
    }

    .carousel-index-dot {
      cursor: pointer;
      width: 12px;
      height: 12px;
      background-color: $noir-boise-200;
      border-radius: 50%;
      margin: 6px;
    }

    .carousel-index-dot-active {
      background-color: $noir-boise-50;
    }
  }
}
