.home-page-carousel-container {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;

  @include small {
    flex-direction: column;
    justify-content: flex-end;
    margin-left: -$sidePaddingMobile;
    margin-right: -$sidePaddingMobile;
  }

  .home-page-carousel-shapes {
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    animation: zoom-in-zoom-out 100s ease infinite;
    // z-index: 995;
  }

  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(2, 2);
    }
    100% {
      transform: scale(1, 1);
    }
  }

  .carousel-index-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    margin-bottom: 32px;
    margin-right: 32px;
    flex: 1;

    @include small {
      flex: none;
      margin-bottom: 16px;
      margin-right: 16px;
    }

    .carousel-index-dot {
      cursor: pointer;
      width: 12px;
      height: 12px;
      background-color: $noir-boise-200;
      border-radius: 50%;
      margin: 6px;
    }

    .carousel-index-dot-active {
      background-color: $noir-boise-50;
    }
  }
}
