@keyframes zoom {
  0% {
    background-size: 100%;
  }
  50% {
    background-size: 115%;
  }
  100% {
    background-size: 100%;
  }
}

.home-page-loader {
  // opacity: 1;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  height: 100vh;
  // background-color: $lavande-200;
  // background-size: 100%;

  // transition: opacity 0.5s ease-out;

  // background-repeat: no-repeat;
  // animation: zoom 100s infinite;

  // background-image: url("../../../common/assets/images/homePage/loader/desktopShapes.svg");

  // margin-left: -$sidePaddingDesktop;
  // margin-right: -$sidePaddingDesktop;

  // .home-page-loader-text {
  //   font-family: $saansTrial;
  //   font-size: 2vw;
  //   color: $noir-boise-50;
  // }
  background-color: $noir-boise-50;
  margin-left: -$sidePaddingDesktop;
  margin-right: -$sidePaddingDesktop;
}
