.home-page-carousel-project-info-container {
  flex: 1;
  position: absolute;
  z-index: 2;
  background-color: $fondu-carroussel-description;
  backdrop-filter: blur(8px);
  border-radius: 10px;
  width: 50vw;
  padding: 1vw;
  margin: 2vw;
  cursor: pointer;
  font-family: $saansTrial;
  bottom: 0;
  left: 0;

  @include small {
    padding: 16px;
    margin: 48px 16px;
    width: 91.5%;
  }

  .home-page-carousel-project-info-project-title {
    color: $noir-boise-50;
    font-weight: 400;
    font-size: 1.5vw;
    line-height: 1.75vw;
    font-style: normal;

    @include small {
      font-size: 18px;
      line-height: 20px;
    }
  }

  .home-page-carousel-project-info-project-description {
    color: $noir-boise-50;
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.5vw;
    margin-top: 1.5vw;
    font-style: normal;

    @include small {
      font-size: 14px;
      font-style: normal;
      line-height: 16px;
    }

    .see-more:hover {
      color: $noir-boise-300;
    }
  }

  .home-page-carousel-project-info-project-types {
    display: flex;
    flex-direction: row;
    margin-top: 1vw;

    @include small {
      margin-top: 8px;
    }

    .home-page-carousel-project-info-project-type {
      background-color: $noir-boise-300;
      padding: 0.5vw 1vw;
      margin-right: 0.5vw;
      border-radius: 0.25vw;
      font-weight: 400;
      font-size: 0.875vw;
      line-height: 0.75vw;
      color: $noir-boise-50;

      @include small {
        border-radius: 5px;
        font-size: 10px;
        margin-right: 8px;
        padding: 4px 12px 4px 12px;
      }
    }
  }
}
