.home-page-publications-container {
  display: flex;
  flex-direction: row;
  margin: 20vw 0px;

  @include small {
    flex-direction: column;
    margin: 160px 0px;
  }

  .home-page-publications-header {
    flex: 1;
    margin-right: 1.5vw;

    @include small {
      text-align: center;
      margin-bottom: 40px;
    }

    .home-page-publications-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 3.5vw;
      line-height: 3.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 40px;
        line-height: 22px;
      }
    }
  }

  .home-page-publications-body {
    flex: 1;

    @include small {
      flex: 2;
    }
  }
}
