.home-page-publication-container {
  .home-page-publication-item {
    border-top: 1px solid $noir-boise-200;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1vw 0px;

    &:last-child {
      border-bottom: 1px solid $noir-boise-200;
    }

    @include small {
      padding: 16px 0px;
    }

    .home-page-publication-text {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 18px;
        line-height: 18px;
      }
    }

    .home-page-publication-link {
      color: $noir-boise-600;
      text-align: center;
      font-family: $saansTrial;
      font-size: 1vw;
      line-height: 1vw;
      font-style: normal;
      font-weight: 400;

      border-radius: 0.25vw;
      border: 1px solid $noir-boise-600;
      padding: 0.5vw 1.5vw;

      @include small {
        font-size: 16px;
        line-height: 16px;
        padding: 8px 24px;
        border-radius: 5px;
      }

      &:hover {
        color: $jaune-pyrite-50;
        background-color: $noir-boise-600;
      }
    }
  }
}
