.project-container {
  width: 50%;

  @include small {
    width: 100% !important;
    margin-top: 40px !important;
    padding: 0px !important;
  }
  margin-top: 80px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;

  .sanity-image-wrapper-container {
    overflow: hidden;
    border-radius: $borderRadiusImage;

    .sanity-image {
      transition: all 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .project-description {
    margin-top: 16px;

    .project-description-title,
    .project-description-description {
      font-family: $saansTrial;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      @include small {
        font-size: 18px;
        line-height: 22px;
      }

      .see-more:hover {
        color: $noir-boise-700;
      }
    }

    .project-description-title {
      color: $noir-boise-700;
    }

    .project-description-description {
      color: $noir-boise-400;
    }

    .project-description-project-types {
      display: flex;
      flex-direction: row;
      margin-top: 16px;

      .project-description-project-type {
        background-color: $noir-boise-100;
        font-family: $saansTrial;
        padding: 8px 16px 8px 16px;
        margin-right: 8px;
        border-radius: 5px;
        font-weight: 400;
        font-size: 14px;
        line-height: 12px;
        color: $noir-boise-600;

        @include small {
          font-size: 10px;
          padding: 4px 12px;
        }
      }
    }
  }
}
