// https://dev.to/felixhaeberle/responsive-fix-for-the-next-js-image-component-1351
.sanity-image-wrapper-container {
  position: relative;
  width: 100%;

  .sanity-image {
    display: block;
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }

  .sanity-image-hover-effect {
    &:hover {
      filter: brightness(0.8);
      transition: filter 0.7s;
    }
  }
}
