// BREAKPOINT
@mixin large {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin small {
  @media only screen and (min-width: 0px) and (max-width: 500px) {
    @content;
  }
}

// FONTS
$saansTrial: var(--font-saans-trial);
$centuryOldStyleStd: var(--font-century-old-style-std);

// OTHER
$sidePaddingDesktop: 40px;
$sidePaddingMobile: 16px;

$borderRadiusImage: 10px;

// TODO - FONT-SIZE

// COLORS (NAMED ON FIGMA DESIGN)
$noir-boise-50: #f4f3f0;
$noir-boise-100: #e9e7e2;
$noir-boise-200: #d4cfc4;
$noir-boise-300: #beb6a7;
$noir-boise-400: #a99e89;
$noir-boise-600: #766b56;
$noir-boise-700: #585041;

$noir-mamuth: #545448;

$jaune-pyrite-50: #faf9eb;
$jaune-pyrite-500: #c4bf33;
$jaune-pyrite-600: #a29e2a;
$jaune-pyrite-700: #797620;

$gris-neutre-400: #81b1a8;
$gris-neutre-500: #b5d1cc;
$gris-neutre-700: #3b5e58;

$lavande-100: #ccccff;
$lavande-200: #9999ff;
$lavande-500: #b8b8ff;

$bleu-helvetia-400: #3392ff;
$bleu-helvetia-500: #0057ba;

$vert-pistache-500: #56aa6a;
$vert-pistache-700: #33663f;

$jaune-de-naples-300: #fceb69;
$jaune-de-naples-400: #fbe437;
$jaune-de-naples-700: #968503;

$rouge-fauve-vineux-400: #ff7733;
$rouge-fauve-vineux-500: #c74200;
$rouge-fauve-vineux-700: #993300;

// COLORS (NON IDENTIFIED ON FIGMA DESIGN)
$blanc: #ffffff;
$blanc-25-pourcent: #ffffff40;
$background-text-box-formulaire-contact: #e5f1ff;
$vert-caroussel-svg: #485643;
$fondu-carroussel-description: #a99e8980;

// Notes
