.common-btn-jaune-pyrite {
  cursor: pointer;

  color: $jaune-pyrite-600;
  border: 0.0625vw solid $jaune-pyrite-600;
  border-radius: $borderRadiusButtonDesktop;
  font-size: 1.125vw;
  line-height: 0.75vw;
  font-family: $saansTrial;
  font-style: normal;
  font-weight: 400;

  @include small {
    font-size: 18px;
    line-height: 12px;
    border-radius: $borderRadiusButtonMobile;
    border: 1px solid $jaune-pyrite-600;
  }

  display: block;
  text-align: center;
  width: fit-content;

  &:hover {
    color: $jaune-pyrite-50;
    background-color: $jaune-pyrite-700;
  }
}

.common-btn-noir-boise-light {
  cursor: pointer;

  color: $noir-boise-50;
  border: 0.0625vw solid $noir-boise-50;
  border-radius: $borderRadiusButtonDesktop;
  font-size: 1.125vw;
  line-height: 0.75vw;

  font-family: $saansTrial;
  font-style: normal;
  font-weight: 400;

  @include small {
    font-size: 18px;
    line-height: 12px;
    border-radius: $borderRadiusButtonMobile;
    border: 1px solid $noir-boise-50;
  }

  display: block;
  text-align: center;
  width: fit-content;

  &:hover {
    color: $noir-boise-700;
    background-color: $noir-boise-50;
  }
}

.common-btn-noir-boise-dark {
  cursor: pointer;

  color: $noir-boise-600;
  border: 1px solid $noir-boise-300;
  border-radius: 0.25vw;
  font-family: $saansTrial;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 0.75vw;

  display: block;
  text-align: center;
  width: fit-content;

  @include small {
    border-radius: 5px;
    font-size: 14px;
    line-height: 12px;
  }

  &:hover {
    color: $noir-boise-700;
    border: 1px solid $noir-boise-700;
  }
}
