@import "../../../common/scss/variables";

.home-page-projects-container {
  margin: 320px 32px 0px 32px;

  @include small {
    margin: 160px 16px 0px 16px;
  }

  .home-page-projects-header {
    display: flex;
    justify-content: center;
    align-items: center;

    .home-page-projects-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 56px;
      font-style: normal;
      font-weight: 400;
      line-height: 56px;

      @include small {
        font-size: 40px;
      }
    }
  }

  .home-page-projects-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .home-page-projects-see-more-title {
      width: 100%;
      text-align: center;
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      margin-top: 80px;

      @include small {
        font-size: 24px;
      }
    }

    .home-page-projects-link {
      @extend .common-btn-jaune-pyrite;
      padding: 14px 28px;
      margin: 24px auto 0px auto;
    }
  }
}
