.home-page-about-us-container {
  border-top: 1px solid $noir-boise-200;
  padding-top: 0.5vw;
  margin-top: 2.5vw;
  height: 28vw;

  @include small {
    margin-top: 16px;
  }

  .home-page-about-us-header {
    margin-bottom: 10vw;

    @include small {
      margin-bottom: 120px;
    }

    .about-us-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 1vw;
      line-height: 1vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  .home-page-about-us-body {
    padding-left: 35%;

    @include small {
      padding-left: 0px;
    }

    .home-page-about-us-description {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 2vw;
      line-height: 2.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .home-page-about-us-link {
      @extend .common-btn-jaune-pyrite;
      padding: 0.875vw 1vw;
      margin-top: 1.5vw;

      @include small {
        padding: 14px 16px;
        margin-top: 24px;
      }
    }
  }
}
