@import "../../../common/scss/variables";

.home-page-about-us-container {
  margin: 40px;
  border-top: 1px solid $noir-boise-200;
  padding-top: 8px;

  @include small {
    margin: 16px;
  }

  .home-page-about-us-header {
    margin-bottom: 160px;

    .about-us-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;

      @include small {
        font-size: 14px;
        line-height: 16px;
      }
    }

    @include small {
      margin-bottom: 120px;
    }
  }

  .home-page-about-us-body {
    padding-left: 35%;

    @include small {
      padding-left: 0px;
    }

    .home-page-about-us-description {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 52px;

      @include small {
        font-size: 28px;
        line-height: 36px;
      }
    }
    .home-page-about-us-link {
      @extend .common-btn-jaune-pyrite;
      padding: 14px 16px;
      margin-top: 24px;
    }
  }
}
