.article-page-container {
  display: flex;
  flex-direction: column;
  z-index: 0;
  padding: 20vw 0px;
  gap: 5vw;

  @include small {
    padding: 180px 0px 240px;
    gap: 56px;
  }

  .article-page-header {
    display: flex;
    justify-content: space-between;

    @include small {
      flex-direction: column;
      gap: 16px;
    }

    .article-page-header-text-container {
      width: 50%;

      @include small {
        width: 100%;
      }

      .article-page-title {
        font-family: $saansTrial;
        line-height: 3.5vw;
        font-size: 3.5vw;
        color: $noir-boise-700;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 2.5vw;

        @include small {
          margin-bottom: 40px;
          font-size: 40px;
          line-height: 56px;
        }
      }

      .article-page-description {
        font-family: $centuryOldStyleStd;
        color: $noir-boise-700;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 1.5vw;
        font-size: 1.5vw;
        line-height: 1.875vw;

        @include small {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 12px;
        }
      }

      .article-page-header-flex-row {
        display: flex;
        gap: 2.125vw;
        margin-bottom: 20px;
        align-items: center;

        @include small {
          align-items: flex-start;
          flex-direction: column;
          gap: 12px;
        }

        .article-page-author-publication-date-container {
          display: flex;
          gap: 2.125vw;

          @include small {
            gap: 20px;
          }

          .article-page-author,
          .article-page-publication-date {
            font-family: $saansTrial;
            color: $noir-boise-400;
            font-weight: 400;
            font-style: normal;
            font-size: 1vw;
            line-height: 1vw;

            @include small {
              font-size: 16px;
              line-height: 16px;
            }
          }
        }

        .social-media-share-button {
          @include small {
            justify-content: flex-end;
          }
        }
      }
    }

    .article-page-header-image-container {
      width: 44vw;

      @include small {
        width: 100%;
      }

      .sanity-image {
        border-radius: $borderRadiusImageDesktop;

        @include small {
          border-radius: $borderRadiusImageMobile;
        }
      }
    }
  }

  .page-selector-container {
    margin-top: 20vw;
  }
}
