.carousel-index-container {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 19px;
  gap: 12px;
  flex: 1;
  mix-blend-mode: lighten;

  @include small {
    flex: none;
    margin-bottom: 16px;
  }

  .carousel-index-dot {
    cursor: pointer;
    width: 12px;
    height: 12px;
    background-color: $noir-boise-200;
    border-radius: 50%;
  }

  .carousel-index-dot-active {
    background-color: $noir-boise-50;
  }
}
