@import "../../../common/scss/variables";

.home-page-blog-article-container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid $noir-boise-200;
  padding-top: 24px;
  padding-bottom: 24px;

  @include small {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &:last-child {
    border-bottom: 1px solid $noir-boise-200;
  }

  .home-page-blog-article-description {
    flex: 1;

    .home-page-blog-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      @include small {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .home-page-blog-article-description {
      color: $noir-boise-400;
      font-family: $saansTrial;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;

      @include small {
        font-size: 18px;
        line-height: 22px;
      }
    }
  }

  .home-page-blog-article-image {
    width: 128px;
    height: 128px;
    border-radius: 5px;
    background-color: #ebebeb;
    margin-left: 60px;

    @include small {
      width: 77px;
      height: 77px;
    }
  }
}
