.blog-page-article-container {
  width: calc(50% - 2.5vw);
  border-bottom: 1px solid $noir-boise-200;
  box-sizing: border-box;

  padding: 1.5vw 0px;
  margin: 0px 1vw;

  @include large {
    &:nth-child(1),
    &:nth-child(2) {
      border-top: 1px solid $noir-boise-200;
    }
  }

  @include medium {
    &:nth-child(1),
    &:nth-child(2) {
      border-top: 1px solid $noir-boise-200;
    }
  }

  @include small {
    &:nth-child(2) {
      border-top: none;
    }
  }

  .blog-page-article-link {
    display: flex;
    flex-direction: row;
  }

  @include small {
    padding: 16px 0px;
    margin: 0px 4px;
    width: 100%;
  }

  &:nth-last-child(1) {
    border-bottom: 1px solid $noir-boise-200;
  }

  .blog-page-article-description-container {
    flex: 1;

    .blog-page-article-title {
      color: $noir-boise-700;
      font-family: $saansTrial;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include large {
        max-width: 77.5%;
      }

      @include small {
        font-size: 18px;
        line-height: 22px;
      }
    }

    .blog-page-article-description {
      color: $noir-boise-400;
      font-family: $saansTrial;
      font-size: 1.5vw;
      line-height: 1.875vw;
      font-style: normal;
      font-weight: 400;

      @include large {
        max-width: 77.5%;
      }

      @include small {
        font-size: 18px;
        line-height: 22px;
      }

      .see-more:hover {
        color: $noir-boise-700;
      }
    }
  }

  .sanity-image-wrapper-container {
    margin-left: 3.75vw;
    width: 8vw;
    height: 8vw;

    @include small {
      width: 77px;
      height: 77px;
    }

    .sanity-image {
      border-radius: $borderRadiusImageDesktop;

      @include small {
        border-radius: $borderRadiusImageMobile;
      }
    }
  }
}
