@keyframes zoom {
  0% {
    background-size: 110%;
    background-position-x: 0px;
  }
  50% {
    background-size: 138%;
    background-position-x: -450px;
    background-position-y: -200px;
  }
  100% {
    background-size: 110%;
    background-position-x: 0px;
  }
}

@keyframes zoomMobile {
  0% {
    background-size: 370%;
    background-position-x: -200px;
  }
  50% {
    background-size: 420%;
    background-position-x: -450px;
  }
  100% {
    background-size: 370%;
    background-position-x: -200px;
  }
}

.blog-page-container {
  .blog-page-header {
    background-color: $rouge-fauve-vineux-400;
    display: flex;
    height: 50vw;
    justify-content: center;
    align-items: center;
    margin-left: -$sidePaddingDesktop;
    margin-right: -$sidePaddingDesktop;

    background-image: url("../../../common/assets/images/blogPage/desktopShapes.svg");
    background-size: cover;
    background-repeat: no-repeat;
    animation: zoom 90s infinite;

    @include small {
      background-size: 370%;
      background-position-x: -200px;
      height: 170vw;
      margin: 0px -$sidePaddingMobile;
      animation: zoomMobile 80s infinite;
    }

    .blog-page-title {
      color: $rouge-fauve-vineux-700;
      font-family: $saansTrial;
      font-style: normal;
      font-weight: 400;
      font-size: 3.5vw;
      line-height: 3.5vw;

      @include small {
        font-size: 40px;
        line-height: 56px;
      }
    }
  }

  .blog-page-title {
    color: $rouge-fauve-vineux-700;
    font-family: $saansTrial;
    font-style: normal;
    font-weight: 400;
    font-size: 3.5vw;
    line-height: 3.5vw;

    @include small {
      font-size: 40px;
    }
  }

  .blog-page-content {
    overflow: auto;
    margin: 2.5vw 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 10vw;

    @include small {
      padding-bottom: 100px;
      margin: 40px 0px;
    }
  }
}
