.home-page-service-container {
  .home-page-service-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;

    border-top: 1px solid $noir-boise-200;

    @include small {
      padding: 16px 0px;
    }

    .home-page-service-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;

      @include small {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .home-page-service-body {
    transition-property: height;
    transition-duration: 800ms;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    margin-top: 48px;
    margin-bottom: 80px;

    @include small {
      flex-direction: column;
      margin-top: 56px;
      margin-bottom: 56px;
    }

    .home-page-service-description-container {
      flex: 1;

      .home-page-service-description {
        color: $noir-boise-200;
        font-family: $centuryOldStyleStd;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;

        @include small {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .home-page-service-link {
        @extend .common-btn-jaune-pyrite;
        padding: 14px 16px;
        margin-top: 40px;

        @include small {
          margin-top: 24px;
        }
      }
    }

    .home-page-service-project-types-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include small {
        margin-top: 56px;
      }

      .home-page-service-project-type {
        border-top: 1px solid $noir-boise-200;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 75%;

        color: $noir-boise-600;
        font-family: $saansTrial;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;

        &:last-child {
          border-bottom: 1px solid $noir-boise-200;
        }

        @include small {
          width: 100%;
        }
      }
    }
  }
}
