.home-page-service-container {
  .home-page-service-header {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 0px;
    border-top: 1px solid $noir-boise-200;

    @include small {
      padding: 16px 0px;
    }

    .home-page-service-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 2.5vw;
      line-height: 2.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 24px;
        line-height: 32px;
      }
    }

    .home-page-service-plus-img {
      width: 1.875vw;
      height: 1.875vw;

      @include small {
        width: 30px;
        height: 30px;
      }
    }
  }

  .home-page-service-body {
    transition-property: height;
    transition-duration: 800ms;
    cursor: pointer;
    display: flex;
    flex-direction: row;

    margin-top: 3vw;
    margin-bottom: 5vw;

    @include small {
      flex-direction: column;
      margin-top: 56px;
      margin-bottom: 56px;
    }

    .home-page-service-description-container {
      flex: 1;

      .home-page-service-description {
        color: $noir-boise-700;
        font-family: $centuryOldStyleStd;
        font-size: 1.5vw;
        line-height: 1.875vw;
        font-style: normal;
        font-weight: 400;

        @include small {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .home-page-service-link {
        @extend .common-btn-jaune-pyrite;
        padding: 0.875vw 1vw;
        margin-top: 2.5vw;

        @include small {
          padding: 14px 16px;
          margin-top: 24px;
        }
      }
    }

    .home-page-service-project-types-container {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      @include small {
        margin-top: 56px;
      }

      .home-page-service-project-type {
        border-top: 1px solid $noir-boise-200;
        padding-top: 0.75vw;
        padding-bottom: 0.75vw;
        width: 75%;

        color: $noir-boise-600;
        font-family: $saansTrial;
        font-size: 1vw;
        line-height: 1.25vw;
        font-style: normal;
        font-weight: 400;

        &:last-child {
          border-bottom: 1px solid $noir-boise-200;
        }

        @include small {
          padding-top: 12px;
          padding-bottom: 12px;
          font-size: 16px;
          line-height: 20px;
          width: 100%;
        }
      }
    }
  }
}
