.home-page-services-container {
  margin-top: 18vw;
  border-bottom: 1px solid $noir-boise-200;

  @include small {
    margin-top: 240px;
  }

  .home-page-services-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4vw;

    @include small {
      margin-bottom: 40px;
    }

    .home-page-services-title {
      font-family: $saansTrial;
      color: $noir-boise-700;
      font-size: 3.5vw;
      line-height: 3.5vw;
      font-style: normal;
      font-weight: 400;

      @include small {
        font-size: 40px;
      }
    }
  }
}
